html,
body {
  background-color: white;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

footer {
  background-color: white;
  height: 190px;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dashboard-container {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 15% 85%;
      grid-template-columns: 15% 85%;
  -ms-grid-rows: 10% 90%;
      grid-template-rows: 10% 90%;
}

.sidebar {
  background-color: #cccccc;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 3;
}

.content {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
  -ms-grid-columns: (1fr)[3];
      grid-template: 1fr 1fr/repeat(3, 1fr);
  overflow: hidden;
}

.top {
  background-color: #e7e7e7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

.news-section {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / span 2;
  margin-top: 20px;
}

.news-section .search,
.news-section .news {
  padding: 0 20px;
}

.news-section .search {
  margin-bottom: 20px;
}

.news {
  overflow-y: auto;
  height: 100%;
}

.news .card {
  margin-bottom: 20px;
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.news .card-title {
  font-size: 1.6rem;
  text-decoration: none;
  display: block;
  line-height: 2rem;
  margin-bottom: 20px;
}

.weather {
  overflow-x: auto;
  padding: 20px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / span 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

.weather .card {
  width: 350px;
  height: 80%;
  -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  margin-right: 20px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  overflow: hidden;
  padding: 20px;
}

.weather .card .title {
  font-size: 1.6rem;
}

.weather .card .temp {
  font-size: 4rem;
  padding: 0 20px;
}

.weather .card img {
  width: 80%;
  position: absolute;
  right: -30%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: 0.8;
}

.weather .thunderstorm {
  background-image: linear-gradient(135deg, #ffffff, #afc3d8);
}

.weather .drizzle {
  background-image: linear-gradient(135deg, #71a2b1, #244049);
  color: white;
}

.weather .rain {
  background-image: linear-gradient(135deg, #ffffff, #a3d5f1);
}

.weather .snow {
  background-image: linear-gradient(135deg, #ffffff, #bac0c5);
}

.weather .clear {
  background-image: linear-gradient(135deg, #ffffff, #f3e7c6);
}

.weather .clouds {
  background-image: linear-gradient(135deg, #8b8b8b, #3d3d3d);
  color: white;
}

.clock {
  padding-top: 30px;
}

.clock .card {
  height: 90%;
  -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  position: relative;
}

.clock .card .card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.clock .title {
  text-align: center;
}

.clock .time {
  font-size: 3rem;
  text-align: center;
}

.clock .btn {
  position: absolute;
  top: 10px;
  right: 10px;
}

.form-control {
  margin-bottom: 10px;
}

#alarm-modal {
  background-color: blue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 10px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 1;
  -webkit-box-shadow: 0 2px 50px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 50px rgba(0, 0, 0, 0.3);
  padding: 20px;
  opacity: 0;
  visibility: hidden;
}

#alarm-modal.show {
  opacity: 1;
  visibility: visible;
}

#alarm-modal img {
  width: 128px;
  margin-bottom: 20px;
}

.theme-night footer {
  background-color: #252525;
  height: 190px;
  color: white;
}

.theme-night .sidebar {
  background-color: #333;
}

.theme-night .top {
  background-color: #252525;
}

.theme-night .content {
  background-color: #222;
}

.theme-night .news .card {
  background-color: #333;
}

.theme-night .news .card-title {
  color: white;
}

.theme-night .news .card-text {
  color: #ccc;
}

.theme-night .search .form-control {
  background-color: #444;
  border-color: rgba(187, 187, 187, 0.25);
  color: #ccc;
}

.theme-night .search .form-control:focus {
  border-color: #999;
  -webkit-box-shadow: 0 0 0 0.25rem rgba(187, 187, 187, 0.25);
          box-shadow: 0 0 0 0.25rem rgba(187, 187, 187, 0.25);
}

.theme-night .weather .card {
  background-color: #333;
  -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

.theme-night .weather .card .title,
.theme-night .weather .card span,
.theme-night .weather .card .temp {
  color: white;
}

.theme-night .weather .thunderstorm {
  background-image: linear-gradient(135deg, #333, #43505e);
}

.theme-night .weather .drizzle {
  background-image: linear-gradient(135deg, #333, #244049);
  color: white;
}

.theme-night .weather .rain {
  background-image: linear-gradient(135deg, #333, #3c5c70);
}

.theme-night .weather .snow {
  background-image: linear-gradient(135deg, #333, #344852);
}

.theme-night .weather .clear {
  background-image: linear-gradient(135deg, #333, #63593e);
}

.theme-night .weather .clouds {
  background-image: linear-gradient(135deg, #333, #747474);
  color: white;
}

.theme-night #container_list,
.theme-night .card-body,
.theme-night #userinput {
  background-color: #333;
  color: white;
}

.theme-night #container_list .title,
.theme-night #container_list .time,
.theme-night .card-body .title,
.theme-night .card-body .time,
.theme-night #userinput .title,
.theme-night #userinput .time {
  color: whitesmoke;
}

.theme-night .clock {
  padding-top: 30px;
}

.theme-night .clock .card {
  border: 0px;
}

.theme-night #calendar .header {
  background-color: #474747;
  color: white;
}

.theme-night #calendar .header .left {
  border-color: transparent white transparent transparent;
}

.theme-night #calendar .header .right {
  border-color: transparent transparent transparent white;
}

.theme-night #calendar .week, .theme-night #calendar .day {
  background-color: #333;
  color: white;
}

.theme-night #calendar .day-name {
  color: #8a8a70;
}

.theme-night #calendar .day.today {
  color: #0082df;
}

.theme-night #calendar .day.other {
  color: rgba(255, 255, 255, 0.116);
}

#container_list {
  margin: 30px 20px 30px 20px;
}

#container_list .add-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#container_list #userinput {
  height: 2.7rem;
}

#container_list #enter {
  height: 40px;
}

ul {
  list-style: none;
}

span {
  font-size: 1.2rem;
  position: relative;
}

.delete {
  scale: 50%;
  border-radius: 50px;
}

.delete:hover {
  color: red;
  -webkit-animation: glowing 1100ms infinite;
          animation: glowing 1100ms infinite;
}

@-webkit-keyframes glowing {
  0% {
    -webkit-box-shadow: 0 0 5px #a80505;
            box-shadow: 0 0 5px #a80505;
  }
  50% {
    -webkit-box-shadow: 0 0 15px #e81919;
            box-shadow: 0 0 15px #e81919;
  }
  100% {
    -webkit-box-shadow: 0 0 5px #a80505;
            box-shadow: 0 0 5px #a80505;
  }
}

@keyframes glowing {
  0% {
    -webkit-box-shadow: 0 0 5px #a80505;
            box-shadow: 0 0 5px #a80505;
  }
  50% {
    -webkit-box-shadow: 0 0 15px #e81919;
            box-shadow: 0 0 15px #e81919;
  }
  100% {
    -webkit-box-shadow: 0 0 5px #a80505;
            box-shadow: 0 0 5px #a80505;
  }
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#calendar {
  font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: 100;
  color: black;
  margin: 0;
  padding: 0;
}

.header {
  height: 50px;
  background: #cccccc;
  color: black;
  text-align: center;
  position: relative;
  z-index: 100;
}

.header h1 {
  margin: 0;
  padding: 0;
  font-size: 20px;
  line-height: 50px;
  font-weight: 100;
  letter-spacing: 1px;
}

.left, .right {
  position: absolute;
  width: 0px;
  height: 0px;
  border-style: solid;
  top: 50%;
  margin-top: -7.5px;
  cursor: pointer;
}

.left {
  border-width: 7.5px 10px 7.5px 0;
  border-color: transparent #363436 transparent transparent;
  left: 20px;
}

.right {
  border-width: 7.5px 0 7.5px 10px;
  border-color: transparent transparent transparent #363436;
  right: 20px;
}

.month {
  opacity: 0;
}

.month.new {
  -webkit-animation: fadeIn 1s ease-out;
  opacity: 1;
}

.month.in.next {
  -webkit-animation: moveFromTopFadeMonth .4s ease-out;
  animation: moveFromTopFadeMonth .4s ease-out;
  opacity: 1;
}

.month.out.next {
  -webkit-animation: moveToTopFadeMonth .4s ease-in;
  animation: moveToTopFadeMonth .4s ease-in;
  opacity: 1;
}

.month.in.prev {
  -webkit-animation: moveFromBottomFadeMonth .4s ease-out;
  animation: moveFromBottomFadeMonth .4s ease-out;
  opacity: 1;
}

.month.out.prev {
  -webkit-animation: moveToBottomFadeMonth .4s ease-in;
  animation: moveToBottomFadeMonth .4s ease-in;
  opacity: 1;
}

.week {
  background: #bbb5b5;
}

.day {
  display: inline-block;
  width: 60px;
  padding: 10px;
  text-align: center;
  vertical-align: top;
  cursor: pointer;
  background: #bbb5b5;
  position: relative;
  z-index: 100;
}

.day.other {
  color: rgba(255, 255, 255, 0.116);
}

.day.today {
  color: #0082df;
}

.day-name {
  font-size: 0.6rem;
  text-transform: uppercase;
  margin-bottom: 5px;
  color: rgba(100, 58, 23, 0.5);
  letter-spacing: .7px;
}

.day-number {
  font-size: 1.2rem;
  letter-spacing: 1.5px;
}

.day .day-events {
  list-style: none;
  margin-top: 3px;
  text-align: center;
  height: 12px;
  line-height: 6px;
  overflow: hidden;
}

.day .day-events span {
  vertical-align: top;
  display: inline-block;
  padding: 0;
  margin: 0;
  width: 5px;
  height: 5px;
  line-height: 5px;
  margin: 0 1px;
}

.blue {
  background: #9ccaeb;
}

.orange {
  background: #f7a700;
}

.green {
  background: #5d8535;
}

.yellow {
  background: #f9e900;
}

.details {
  position: relative;
  width: 285px;
  height: 75px;
  background: #a4a4a4;
  margin-top: 5px;
  border-radius: 4px;
}

.details.in {
  -webkit-animation: moveFromTopFade .5s ease both;
  animation: moveFromTopFade .5s ease both;
}

.details.out {
  -webkit-animation: moveToTopFade .5s ease both;
  animation: moveToTopFade .5s ease both;
}

.arrow {
  position: absolute;
  top: -5px;
  left: 50%;
  margin-left: -2px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 5px 5px 5px;
  border-color: transparent transparent #a4a4a4 transparent;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

.events {
  height: 100px;
  padding: 7px 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.events.in {
  -webkit-animation: fadeIn .3s ease both;
  animation: fadeIn .3s ease both;
}

.events.in {
  width: 285px;
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
}

.details.out .events {
  -webkit-animation: fadeOutShrink .4s ease both;
  animation: fadeOutShink .4s ease both;
}

.events.out {
  -webkit-animation: fadeOut .3s ease both;
  animation: fadeOut .3s ease both;
}

.event {
  width: 285px;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: .5px;
  padding: 2px 16px;
  vertical-align: top;
}

.event.empty {
  color: #eee;
}

.event-category {
  height: 10px;
  width: 10px;
  display: inline-block;
  margin: 6px 0 0;
  vertical-align: top;
}

.event span {
  display: inline-block;
  padding: 0 0 0 7px;
}

.entry {
  position: relative;
  padding: 0 0 0 25px;
  font-size: 13px;
  display: inline-block;
  line-height: 30px;
  background: transparent;
}

@-webkit-keyframes moveFromTopFade {
  from {
    opacity: .3;
    height: 0px;
    margin-top: 0px;
    -webkit-transform: translateY(-100%);
  }
}

@keyframes moveFromTopFade {
  from {
    height: 0px;
    margin-top: 0px;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}

@-webkit-keyframes moveToTopFade {
  to {
    opacity: .3;
    height: 0px;
    margin-top: 0px;
    opacity: 0.3;
    -webkit-transform: translateY(-100%);
  }
}

@keyframes moveToTopFade {
  to {
    height: 0px;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}

@-webkit-keyframes moveToTopFadeMonth {
  to {
    opacity: 0;
    -webkit-transform: translateY(-30%) scale(0.95);
  }
}

@keyframes moveToTopFadeMonth {
  to {
    opacity: 0;
    -moz-transform: translateY(-30%);
  }
}

@-webkit-keyframes moveFromTopFadeMonth {
  from {
    opacity: 0;
    -webkit-transform: translateY(30%) scale(0.95);
  }
}

@keyframes moveFromTopFadeMonth {
  from {
    opacity: 0;
    -moz-transform: translateY(30%);
  }
}

@-webkit-keyframes moveToBottomFadeMonth {
  to {
    opacity: 0;
    -webkit-transform: translateY(30%) scale(0.95);
  }
}

@keyframes moveToBottomFadeMonth {
  to {
    opacity: 0;
    -webkit-transform: translateY(30%);
  }
}

@-webkit-keyframes moveFromBottomFadeMonth {
  from {
    opacity: 0;
    -webkit-transform: translateY(-30%) scale(0.95);
  }
}

@keyframes moveFromBottomFadeMonth {
  from {
    opacity: 0;
    -webkit-transform: translateY(-30%);
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
}

@-webkit-keyframes fadeOut {
  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

@-webkit-keyframes fadeOutShink {
  to {
    opacity: 0;
    padding: 0px;
    height: 0px;
  }
}

@keyframes fadeOutShink {
  to {
    opacity: 0;
    padding: 0px;
    height: 0px;
  }
}
/*# sourceMappingURL=styles.css.map */